<%
  reminder ||= Reminder.new
%>

REMINDERS

<div>
  <% current_user.reminders.map do |reminder| %>
    <%= react_component("Reminder",
                        { title:       reminder.title,
                          description: reminder.description,
                          status:      reminder.status }) %>
  <% end %>
</div>

<%= form_with model: reminder, local: true do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </br>
  <%= f.label :description %>
  <%= f.text_field :description %>
  </br>
  <%= f.submit 'Create' %>
<% end %>
